{% block sw_order_detail_base_custom_fields %}
    {% parent() %}
    <sw-card
        :title="$tc('checkout.commentTitle')">
        {{ comment }}
    </sw-card>
    <sw-card
            :title="$tc('checkout.commissionTitle')">
        {{ commission }}
    </sw-card>
    <sw-card
            :title="$tc('checkout.deliveryDate')">
        {{ deliverydate }}
    </sw-card>
{% endblock %}
