{% block nextag_checkout_additionalfields %}
	<div class="next-checkout-block">
        <div id="nextagCheckout"></div>
    </div>
	<script src="/js/nextag-checkout.js"></script>
 	<script>
		(function () {
			"use strict";
			let form = `{% embed "storefront/page/checkout/templates/additionalcheckoutfields.html.twig" %} {% endembed %}`
			var vm = new NextCheckout.ViewModel.MainObject({
				delimiters: ['[[',']]'],
				template: form,
				components: {},
				config: {
					baseUrl: "{{ app.request.server.get('APP_URL') }}",
					language: '{{ app.request.locale }}',
					languageShort: lang.split("-")[0],
				{% if shopware.config.NextagCustomerportal.config.debug == 1 %}
					debug: "XDEBUG_SESSION_START=PHPSTORM"
				{% else %}
					debug: null
				{% endif %}
				},
				data: {
					"test": "test
				}
			});

			vm.$mount('#nextagCheckout');
		})();
	</script>

{% endblock %}
